body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	color: #1155cc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

input[type=submit] {
	border: 1px solid #000000;
	background-color: #f0f0f0;
	color: #333333;
	cursor: pointer;
}

input[type=submit]:hover {
	border-color: #1155cc;
	background-color: #e8e8e8;
	color: #000000;
}

header {
	background-color: #222222;
	margin-bottom: 2em;
}

header > ul > li {
	display: inline;
}

header > ul > li > a {
	display: inline-block;
	padding: 0.25em 0.5em;
	color: #cccccc;
}

header > ul > li > a:hover {
	background-color: #333333;
	color: #ffffff;
}

sidebar {
	float: left;
	width: 230px;
	padding: 1em 0;
}

sidebar > ul > li > a {
	display: block;
	padding: 0.1em 1em 0.1em 0.5em;
	border-left: 2px solid #ffffff;
}

sidebar > ul > li > a:hover {
	background-color: #eeeeee;
	border-left: 2px solid #000000;
}

#content {
	margin-left: 250px;
	padding-right: 8em;
}

.entry {
	margin-bottom: 1em;
	padding: 0.5em 1em;
	border: 2px solid #cccccc;
}

.entry-content {
	max-width: 80em;
}
