{% extends 'feeds/base.html' %}

{% block title %}{{ feed.title }}{% endblock %}

{% block content %}
<form id="refresh-form"
	  action="{% url feedit.feeds.views.refresh feed_id=feed.id%}"
	  method="post">
  {% csrf_token %}
  <fieldset>
	<input class="button-link" type="submit" value="refresh" />
  </fieldset>
</form>

<h1>{{ feed.title }}</h1>

{% for entry in feed.entries.all %}
<div class="entry">
  <h2><a href="{{ entry.link }}">{{ entry.title|safe }}</a></h2>
  {% if entry.author %}
  <h3>by {{ entry.author }}</h3>
  {% endif %}
  <h4>updated at {{ entry.updated }}</h4>
  <div class="entry-content">
	{{ entry.content|safe }}
  </div>
</div>
{% endfor %}
{% endblock %}
